.main__home,
.main__projects,
.main__about,
.main__contact {
    height: 100vh;
    padding: var(--height_nav) 4.5em;
}

.home,
.about,
.projects,
.contact {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.projects,
.contact {
    float: right;
}

.home__paragraph,
.projects__paragraph,
.about__paragraph,
.contact__paragraph {
    text-align: justify;
}

.main__home {
    background: linear-gradient(90deg, rgba(253, 175, 171, 1) 70%, rgba(246, 244, 246, 1) 70%);
}

.main__projects {
    background: linear-gradient(90deg, rgba(246, 244, 246, 1) 30%, rgba(169, 167, 214, 1) 30%);
}

.main__about {
    background: linear-gradient(90deg, rgba(159, 209, 240, 1) 70%, rgba(246, 244, 246, 1) 70%);
}

.main__contact {
    background: linear-gradient(90deg, rgba(246, 244, 246, 1) 30%, rgba(187, 218, 117, 1) 30%);
}